#navbar-top {

}

#container-main {
    margin-top: 40px;
    min-height: 100%;
}

#container-main main .row {
    padding: 1em;
}

#cards-row .card {
    width: 235px;
}

#cards-row .card:not(:first-child) {
    margin-left: 1em;
}

.nav-item-l2 {
    padding-left: 1.5em;
}

#left-menu-nav {
    padding-top: 1em;
}

#table-services {
    font-size: .8em;
}
/* 
.service-status-information:hover .service-status-tooltip {
    display: block;
} */

#service-status-tooltip {
    display: none;
    background: #C8C8C8;
    margin-left: 28px;
    padding: .25em;
    position: absolute;
    z-index: 1000;
}