{% load static %}

 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="stylesheet" href='{% static "dashboard.css" %}'>
	  {% include "head.html" %}
  </head>

  <body>
    {% include "top-menu.html" %}

    <div class="container-fluid" id="container-main">
      <div class="row">
        {% include "left-menu.html" %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Hosts</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Host</th>
                  <th>Status</th>
                  <th>Last Check</th>
                  <th>Duration</th>
                  <th>Status Information</th>
                </tr>
              </thead>
              <tbody>
                {% for host, value in hosts.items %}
                  <tr>
                    <td>{{ host }}</td>
                    <td class="{{ value.host_background_class }}">{{ value.state_string }}</td>
                    <td>{{ value.last_check_human }}</td>
                    <td>{{ value.duration_human }}</td>
                    <td>{{ value.plugin_output }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
