{% load static %}

 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>NagStrap</title>

    <link rel="stylesheet" href='{% static "dashboard.css" %}'>
	  {% include "head.html" %}
  </head>

  <body>
    {% include "top-menu.html" %}

    <div class="container-fluid" id="container-main">
      <div class="row">
        {% include "left-menu.html" %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <div class="row">
            Hosts summary:
            <div class="progress" style="width: 100%">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{ host_summary_percent.up }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{ host_summary_percent.up }}% Up</div>
              <div class="progress-bar bg-warning" role="progressbar" style="width: {{ host_summary_percent.unreachable }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">{{ host_summary_percent.unreachable }}% Unreachable</div>
              <div class="progress-bar bg-danger" role="progressbar" style="width: {{ host_summary_percent.down }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{ host_summary_percent.down }}% Down</div>
              <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ host_summary_percent.pending }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{ host_summary_percent.pending }}% Pending</div>
            </div>

            Service summary:
            <div class="progress" style="width: 100%">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{ service_summary_percent.ok }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{ service_summary_percent.ok }}% Ok</div>
              <div class="progress-bar bg-warning" role="progressbar" style="width: {{ service_summary_percent.warning }}%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">{{ service_summary_percent.warning }}% Warning</div>
              <div class="progress-bar bg-danger" role="progressbar" style="width: {{ service_summary_percent.critical }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{ service_summary_percent.critical }}% Critical</div>
              <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ service_summary_percent.pending }}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{ service_summary_percent.pending }}% Pending</div>
            </div>
          </div>

          <div class="row" id="cards-row">
              <div class="card">
                  <h5 class="card-header">Hosts Summary</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-danger"><b>{{ host_summary.down }}</b> Hosts down</li>
                    <li class="list-group-item bg-warning"><b>{{ host_summary.unreachable }}</b> Hosts unreachable</li>
                    <li class="list-group-item bg-success"><b>{{ host_summary.up }}</b> Hosts up</li>
                    <li class="list-group-item bg-secondary"><b>{{ host_summary.pending }}</b> Hosts pending</li>
                  </ul>
                </div>

                <div class="card">
                    <h5 class="card-header">Service Summary</h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-danger"><b>{{ service_summary.critical }}</b> Critical services</li>
                      <li class="list-group-item bg-warning"><b>{{ service_summary.warning }}</b> Warning services</li>
                      <li class="list-group-item bg-success"><b>{{ service_summary.ok }}</b> Ok services</li>
                      <li class="list-group-item bg-secondary"><b>{{ service_summary.pending }}</b> Pending services</li>
                    </ul>
                  </div>
            </div>
        </main>
      </div>
    </div>
  </body>
</html>
