<nav class="col-md-2 d-none d-md-block bg-light sidebar" id="left-menu-nav">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
                <span data-feather="home"></span>
                <a href='{% url "dashboard" %}'>Dashboard <span class="sr-only">(current)</span></a>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file"></span>
                <a href='{% url "hosts" %}'>Hosts<span class="sr-only">(current)</span></a>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                <a href='{% url "services" %}'>Services <span class="sr-only">(current)</span></a>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                <a href='{% url "services" %}'>Host groups <span class="sr-only">(current)</span></a>
              </a>
            </li>
              <li class="nav-item-l2">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  <a href='{% url "services" %}'>Summary <span class="sr-only">(current)</span></a>
                </a>
              </li>
              <li class="nav-item-l2">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  <a href='{% url "services" %}'>Grid <span class="sr-only">(current)</span></a>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="shopping-cart"></span>
                <a href='{% url "services" %}'>Service groups <span class="sr-only">(current)</span></a>
              </a>
            </li>
              <li class="nav-item-l2">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  <a href='{% url "services" %}'>Summary <span class="sr-only">(current)</span></a>
                </a>
              </li>
              <li class="nav-item-l2">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  <a href='{% url "services" %}'>Grid <span class="sr-only">(current)</span></a>
                </a>
              </li>
          </ul>
        </div>
      </nav>