{% load static %}

 <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <link rel="stylesheet" href='{% static "dashboard.css" %}'>
    {% include "head.html" %}
    
    <script>
      $(document).ready(function() {
        var tooltip = document.querySelectorAll('#service-status-tooltip');

        document.addEventListener('mousemove', fn, false);

        function fn(e) {
            for (var i=tooltip.length; i--;) {
                tooltip[i].style.left = e.pageX + 'px';
                tooltip[i].style.top = e.pageY + 'px';
            }
        }

        function handler_enter(ev) {
            var target = $(ev.target);
            var pnp_graph_url = target.data('pnp-graph-url');
            var pnp_enabled = target.data('pnp-enabled')
            if (pnp_enabled == 1 && target.is(".service-status-information")) {
              $("#service-graph-img").attr("src", pnp_graph_url);
              $("#service-status-tooltip").css('display', 'block')
              // $("#service-tooltip-status").html(target.html());
            }
        }
        $(".service-status-information").mouseenter(handler_enter);

        function handler_leave(ev) {
            var target = $(ev.target);
            $("#service-status-tooltip").css('display', 'none')
        }
        $(".service-status-information").mouseleave(handler_leave);
      })
    </script>
  </head>

  <body>
    {% include "top-menu.html" %}

    <div id="service-status-tooltip">
        <!-- <h6><span class="badge badge-primary">Status</span><span id="service-tooltip-status">afd</span></h6> -->
      <img id="service-graph-img" src="">
    </div>

    <div class="container-fluid" id="container-main">
      <div class="row">
        {% include "left-menu.html" %}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Services</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm table-hover" id="table-services">
              <thead class="thead-dark">
                <tr>
                  <th>Host</th>
                  <th>Status</th>
                  <th>Description</th>
                  <th>Last Check</th>
                  <th>Duration</th>
                  <th>Status Information</th>
                </tr>
              </thead>
              <tbody>
                {% for service in services %}
                  <tr class="{{ service.service_background_line_class }}">
                    <td>{{ service.host_name }}</td>
                    <td class="{{ service.service_background_class }}">{{ service.state_string }}</td>
                    <td>{{ service.description }}</td>
                    <td>{{ service.last_check_human }}</td>
                    <td>{{ service.duration_human }}</td>
                    <td class="service-status-information" data-pnp-enabled='{{ service.pnp_enabled }}' data-pnp-graph-url='http://10.0.0.8/pnp4nagios/image?host={{ service.host_name }}&srv={{ service.description }}&view=0&source=0&start={{ pnp_graph_start }}&end={{ pnp_graph_end }}'>{{ service.plugin_output }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
